

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(90deg, rgba(198,232,222,1) 0%, rgba(117,226,164,1) 49%, rgba(154,225,242,1) 100%);
  
}

.Navigation {
  display: flex;
  justify-content: flex-end;
}

button {
  cursor: pointer;
}

.Rank {
  text-align: center;
}

.FaceRecognition {
  border: none;
  margin: 20px;
  text-align: center;
}

.img img{
  border-radius: 20px;
  box-shadow: 9px 9px 34px -16px rgba(0,0,0,0.43);
}
